
































































.App {
  text-align: center;
}

.eventItem {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  /* max-width: 60%; */
  max-width: 90%;
  margin: auto;
  margin-bottom: 1em;
}

.eventItem * {
  margin-right: 1.25em;
}

.main-details * {
  float: left;
}

.location-details {
  display: inline-block;
  /* width: auto; */
  text-align: left;

}

.main-details h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: left;
}

.eventItem img {
  display: inline-block;
  border-radius: 10px 10px;
  object-fit: cover;
  width: 133px;
  height: 75px;
}

.eventItem p {
  font-size: 1rem;
  line-height: 1.5px;
  margin-bottom: 10px;
}

.eventItem a {
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  height: 50%;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

.prices {
  text-align: left;
}

.next-btn, .prev-btn {
  margin-right: .25em;
  cursor: pointer;
  border: none;
  background-color: #0077cc;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.page-controls {
  padding: 1em;
}