.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.eventItem {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  max-width: 60%;
  margin: auto;
  margin-bottom: 1em;
}

.eventItem * {
  margin-right: 1.25em;
}

.main-details * {
  float: left;
}

.location-details {
  display: inline-block;
  width: auto;
}

.main-details h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: left;
}

.eventItem img {
  display: inline-block;
  border-radius: 10px 10px;
  object-fit: cover;
  width: 133px;
  height: 75px;
}

.eventItem p {
  font-size: 1rem;
  line-height: 1.5px;
  margin-bottom: 10px;
}

.eventItem a {
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}