* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.event-filters {
  background-color: rgb(82, 82, 82);
  color: white;
  padding: 2.25em;
}

.event-filters * {
  margin-right: .5em;
  margin-bottom: .5em;
}

.eventItem {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

header {
  color: white;
  background-color: #0077cc;
  padding: 2.25em;

}

header h1 {
  margin-bottom: 1em;
}

header input,
select,
button {
  height: 2em;
  margin-right: .3em;
  padding: 2px;
  font-weight: bold;
}

header button {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  /* background-color: #D8823B; */
  background-color: orange;
  color: white;
  transition: .2s;
  border-radius: 3px;
}

header button:hover {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  /* background-color: #D8823B; */
  background-color: #ffb833;
}

.event-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.eventItem a {
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  height: 2.5em;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

.prices {
  text-align: left;
}

.next-btn,
.prev-btn {
  margin-right: .25em;
  cursor: pointer;
  border: none;
  background-color: #0077cc;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}


.page-controls {
  padding: 1em;
}

.eventItem * {
  margin-right: 1.25em;
}

.main-details {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: flex-start;
  align-self: flex-start;
  width: 30%;
}

.location-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  text-align: left;
  width: 20%;
}

.location-details p {
  padding: .5em;
}

.prices {
  display: inline-block;
  padding: 1em;
}

.main-details h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: left;
}

.eventItem img {
  display: inline-block;
  border-radius: 10px 10px;
  object-fit: cover;
  width: 133px;
  height: 75px;
}

.eventItem p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tickets-link {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: center;
}